<div id="logo-space">
</div>
<ul class="menu-items">
	<li>
		<div class="icon">
			<div class="sprite-parameters"></div>
		</div>
		<span>STATISTIQUE</span>
	</li>
	<li class="selected">
		<div class="icon">
			<div class="sprite-log-out"></div>
		</div>
		<span>MATCHS</span>
	</li>
	<li>
		<div class="icon">
			<div class="sprite-parameters"></div>
		</div>
		<span>PARIS</span>
	</li>
	<li>
		<div class="icon">
			<div class="sprite-log-out"></div>
		</div>
		<span>PUBLICATION</span>
	</li>
	<li>
		<div class="icon">
			<div class="sprite-parameters"></div>
		</div>
		<span>PROMOTIONS</span>
	</li>
</ul>