<div id="logo-space">
</div>
<ul class="menu-items">
	<li>
		<a href="/statistiques">
			<div class="icon-container">
				<div class="icon icon-matchs"></div>
			</div>
			<span>STATISTIQUES</span>
		</a>
	</li>
	<li class="selected">
		<a href="/matchs">
			<div class="icon-container">
				<div class="icon icon-statistiques"></div>
			</div>
			<span>MATCHS</span>
		</a>
	</li>
	<li>
		<a href="/paris">
			<div class="icon-container">
				<div class="icon icon-matchs"></div>
			</div>
			<span>PARIS</span>
		</a>
	</li>
	<li>
		<a href="/publications">
			<div class="icon-container">
				<div class="icon icon-statistiques"></div>
			</div>
			<span>PUBLICATIONS</span>
		</a>
	</li>
	<li>
		<a href="/promotions">
			<div class="icon-container">
				<div class="icon icon-matchs"></div>
			</div>
			<span>PROMOTIONS</span>
		</a>
	</li>
	<li>
		<a href="/publicites">
			<div class="icon-container">
				<div class="icon icon-statistiques"></div>
			</div>
			<span>PUBLICITÉES</span>
		</a>
	</li>
</ul>