<div id="logo-space">
</div>
<ul class="menu-items">
	<li>
		<a href="/statistiques">
			<div class="icon">
				<div class="sprite-parameters"></div>
			</div>
			<span>STATISTIQUES</span>
		</a>
	</li>
	<li class="selected">
		<a href="/matchs">
			<div class="icon">
				<div class="sprite-log-out"></div>
			</div>
			<span>MATCHS</span>
		</a>
	</li>
	<li>
		<a href="/paris">
			<div class="icon">
				<div class="sprite-parameters"></div>
			</div>
			<span>PARIS</span>
		</a>
	</li>
	<li>
		<a href="/publications">
			<div class="icon">
				<div class="sprite-log-out"></div>
			</div>
			<span>PUBLICATIONS</span>
		</a>
	</li>
	<li>
		<a href="/promotions">
			<div class="icon">
				<div class="sprite-parameters"></div>
			</div>
			<span>PROMOTIONS</span>
		</a>
	</li>
</ul>