<div id="statistiques">
	<div class="padder">
		<h1>statistiques</h1>
		<h2>Audiance générales</h2>
		<h3>Utilisateurs en milliers</h3>
		<div class="users-canvas">
			<canvas id="myLineChart"></canvas>
		</div>
	</div>
	<div class="niv-1">
		<div class="two-third">
			<div class="info-lvl-1">
				<div class="padder">
					<div class="active-info">
						<span>18560</span>
						<p>utilisateurs actifs</p>
					</div>
					<div class="schedule-info">
						<span>2.30</span>
						<p>durée session (min)</p>
					</div>
				</div>
			</div>
			<div class="info-lvl-2">
				<div class="padder">
					<div class="canvas-wrapper">
						<canvas id="myPieChart"></canvas>
					</div><!--
					--><div class="legend">
						<p>Horaires d'utilisations</p>
						<div class="schedule"><span class="color-round a"></span>0h - 4h</div><!--
					--><div class="schedule"><span class="color-round b"></span>4h - 8h</div><!--
					--><div class="schedule"><span class="color-round c"></span>8h - 12h</div><!--
					--><div class="schedule"><span class="color-round d"></span>12h - 16h</div><!--
					--><div class="schedule"><span class="color-round e"></span>16h - 20h</div><!--
					--><div class="schedule"><span class="color-round f"></span>20h - 0h</div>
					</div>
				</div>
			</div>
		</div><!--
		--><div class="one-third">
			<div class="info-lvl-3">
				<p>Liste des utilisateurs</p>
				<ul>
					<li>
						<img src="/images/profil.jpg">
						Orlando	S.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Ashley	Z.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Alfonso	B.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Lynn S.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Janis N.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Allan R.
					</li>
				</ul>
				<a href="/player" class="btn btn-add">voir la liste entière</a>
			</div>
		</div>
	</div>
	<div class="niv-2">
		<div class="padder no-bottom">
			<h2>consommations utilisateurs</h2>
		</div>
		<div class="numbers">
			<div class="active-info">
				<span>5460</span>
				<p>recettes (€)</p>
			</div><!--
			--><div class="schedule-info">
				<span>5.35</span>
				<p>panier moyen (€)</p>
			</div><!--
			--><div class="schedule-info">
				<span>3540</span>
				<p>impression pub</p>
			</div>
		</div>
		<div class="padder">
			<div class="line-bar">
				<span>Achats in-app</span>
				<div class="line">
					<div class="cursor" style="width: 56%;"></div>	
				</div>
				<div class="total">3250€</div>
			</div>
			<div class="line-bar">
				<span>Promotions</span>
				<div class="line">
					<div class="cursor" style="width: 34%;"></div>	
				</div>
				<div class="total">2000€</div>
			</div>
			<div class="line-bar">
				<span>Feeligo</span>
				<div class="line">
					<div class="cursor" style="width: 12%;"></div>	
				</div>
				<div class="total">210€</div>
			</div>
		</div>
	</div>
	<div class="padder no-bottom no-top">
		<h2>activité générale</h2>
	</div>
	<div class="niv-3">
		<div class="two-third">
			<div class="square">
				<div class="sprite-log-out icon"></div>
				<p class="title">Lancé franc</p>
				<div class="item">
					<span class="name">Joueurs</span>
					<span class="value">2560</span>
				</div>
				<div class="item">
					<span class="name">Parties jouées</span>
					<span class="value">1500</span>
				</div>
				<div class="item">
					<span class="name">Crédits utilisés</span>
					<span class="value">3702</span>
				</div>
			</div><!--
		--><div class="square">
				<div class="sprite-log-out icon"></div>
				<p class="title">Paris sportifs</p>
				<div class="item">
					<span class="name">Paris effectués</span>
					<span class="value">356</span>
				</div>
				<div class="item">
					<span class="name">Points gagnés</span>
					<span class="value">13560</span>
				</div>
				<div class="item">
					<span class="name">Points perdu</span>
					<span class="value">25678</span>
				</div>
			</div><!--
		--><div class="square">
				<div class="sprite-log-out icon"></div>
				<p class="title">Homme du match</p>
				<div class="item">
					<span class="name">Joueurs</span>
					<span class="value">10560</span>
				</div>
				<div class="item">
					<span class="name">Vainqueurs</span>
					<span class="value">2560</span>
				</div>
			</div><!--
		--><div class="square">
				<div class="sprite-log-out icon"></div>
				<p class="title">Vidéo immersive</p>
				<div class="item">
					<span class="name">utilisateurs</span>
					<span class="value">9356</span>
				</div>
				<div class="item">
					<span class="name">Temps moyen (min)</span>
					<span class="value">2.56</span>
				</div>
			</div><!--
		--><div class="square">
				<div class="sprite-log-out icon"></div>
				<p class="title">Boîte à bruits</p>
				<div class="item">
					<span class="name">Utilisateurs total</span>
					<span class="value">12560</span>
				</div>
				<div class="item">
					<span class="name">Utilisateurs simultanés</span>
					<span class="value">1536</span>
				</div>
				<div class="item">
					<span class="name">Intensité maximale (dB)</span>
					<span class="value">525</span>
				</div>
			</div><!--
		--><div class="square">
				<div class="sprite-log-out icon"></div>
				<p class="title">Photobooth</p>
				<div class="item">
					<span class="name">Utilisateurs</span>
					<span class="value">12356</span>
				</div>
				<div class="item">
					<span class="name">Photos effectuées</span>
					<span class="value">13456</span>
				</div>
				<div class="item">
					<span class="name">Photos partagées</span>
					<span class="value">25678</span>
				</div>
			</div>
		</div><!--
		--><div class="one-third">
			<div class="info-lvl-3">
				<p>Classement général</p>
				<ul>
					<li>
						<img src="/images/profil.jpg">
						Ernest P.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Benjamin R.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Julie H.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Frank H.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Lillian	A.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Russell	J.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Donald E.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Margaret W.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Bonnie S.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Kevin G.
					</li>
					<li>
						<img src="/images/profil.jpg">
						Allan R.
					</li>
				</ul>
				<a href="/player" class="btn btn-add">voir le classement entier</a>
			</div>
		</div>
	</div>
</div>


Jayden Jacek