<div id="statistiques">
	<div class="padder">
		<h1>statistiques</h1>
		<h2>Audiance générales</h2>
		<h3>Utilisateurs en milliers</h3>
		<div class="users-canvas">
			<canvas id="myChart"></canvas>
		</div>
	</div>
</div>