$white : #FFF;
$black : #333333;
$red: #ff3131;
$green: #007a35;
$light-grey: #a6a6a6;
$clubColor : #007a35;
$facebook: #3c5a99;
$twitter: #3aaae1;
$instagram: #003569;
$menuWidth : 228px;
$headerHeight : 100px;