h1{
	font-size: 30px;
	color: $clubColor;
	text-transform: uppercase;
	font-weight: bold;
}
h2{
	font-size: 18px;
	color: #333333;
	text-transform: uppercase;
	font-weight: bold;
}
h3{
	font-size: 14px;
	color: $light-grey;
	padding-bottom: 28px;
}

.btn{
	width: 200px;
	height: 60px;
	border: 2px solid $clubColor;
	color: $clubColor;
	text-align: center;
	text-transform : uppercase;
	border-radius: 100px;
	line-height: 60px;
	vertical-align: middle;
	cursor: pointer;
	&:hover{
		background-color: $clubColor;
		color: $white;
	}
}

.small-btn {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: relative;
	&.red{
		background-color: $red;
	}
	&.red-cercled{
		border: 2px solid $red;
	}
	&.green{
		background-color: $green;
	}
	&.green-cercled{
		border: 2px solid $green;
	}
}

.padder{
	padding: 50px;
	&.no-bottom{
		padding-bottom: 0;
	}
	&.no-top{
		padding-top: 0;
	}
}

.add-container{
	height: 140px;
	width: 100%;
	position: relative;
	h2.subtitle {
	    font-size: 18px;
	    font-weight: 800;
	    color: #007a35;
	    text-transform: uppercase;
	    line-height: 140px;
	    vertical-align: top;
	    color: $black;
	}
	.btn-add{
		position: absolute;
	    right: 0;
	    top: 50%;
	    transform: translateY(-50%);
	}
}