#menu{
	position: absolute;
	top: 0;
	left: 0;
	width: $menuWidth;
	height: 100vh;
	font-weight: 600;
	background-color: $clubColor;
	#logo-space{
		height: 100px;
	}
	ul.menu-items{
		li{
			height: 75px;
			cursor: pointer;
			position: relative;
			a{
				display: block;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
				padding-left: 40px;
			}
			.icon-container{
			    width: 36px;
			    display: inline-block;
			    line-height: 75px;
			    height: 100%;
			    .icon{
			    	color: darken( $clubColor, 10% );
			    }
			}
			span{
    			display: inline-block;
				vertical-align: top;
				height: 100%;
				line-height: 75px;
				font-size: 16px;
				font-weight: 800;
				color: rgba(0, 0, 0, 0.40);
			}
			&.selected{
				.icon-container{
				    .icon{
				    	color: $clubColor;
				    }
				}
				span{
					color : rgba(255, 255, 255, 1);
				}
				background-color: darken($clubColor, 10%);
			}
		}
	}
}