#menu{
	position: absolute;
	top: 0;
	left: 0;
	width: $menuWidth;
	height: 100vh;
	font-family: 'proxima';
	font-weight: 600;
	background-color: $clubColor;
	#logo-space{
		height: 100px;
	}
	ul.menu-items{
		li{
			height: 75px;
			cursor: pointer;
			position: relative;
			a{
				display: block;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
				padding-left: 40px;
			}
			.icon{
				width: 36px;
				display: inline-block;
				height: 100%;
				opacity: 0.40;
				>div{
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			span{
    			display: inline-block;
				vertical-align: top;
				height: 100%;
				line-height: 75px;
				font-size: 16px;
				color: rgba(0, 0, 0, 0.40);
			}
			&.selected{
				span{
					color : rgba(255, 255, 255, 1);
				}
				.icon{
					opacity: 1;
				}
				background-color: darken($clubColor, 10%);
			}
		}
	}
}