/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-log-out-name: 'sprite-log-out';
$sprite-log-out-x: 28px;
$sprite-log-out-y: 0px;
$sprite-log-out-offset-x: -28px;
$sprite-log-out-offset-y: 0px;
$sprite-log-out-width: 19px;
$sprite-log-out-height: 22px;
$sprite-log-out-total-width: 47px;
$sprite-log-out-total-height: 23px;
$sprite-log-out-image: '../images/sprite.png';
$sprite-log-out: (28px, 0px, -28px, 0px, 19px, 22px, 47px, 23px, '../images/sprite.png', 'sprite-log-out', );
$sprite-parameters-name: 'sprite-parameters';
$sprite-parameters-x: 0px;
$sprite-parameters-y: 0px;
$sprite-parameters-offset-x: 0px;
$sprite-parameters-offset-y: 0px;
$sprite-parameters-width: 23px;
$sprite-parameters-height: 23px;
$sprite-parameters-total-width: 47px;
$sprite-parameters-total-height: 23px;
$sprite-parameters-image: '../images/sprite.png';
$sprite-parameters: (0px, 0px, 0px, 0px, 23px, 23px, 47px, 23px, '../images/sprite.png', 'sprite-parameters', );
$sprite-log-out-2x-name: 'sprite-log-out@2x';
$sprite-log-out-2x-x: 56px;
$sprite-log-out-2x-y: 0px;
$sprite-log-out-2x-offset-x: -56px;
$sprite-log-out-2x-offset-y: 0px;
$sprite-log-out-2x-width: 38px;
$sprite-log-out-2x-height: 44px;
$sprite-log-out-2x-total-width: 94px;
$sprite-log-out-2x-total-height: 46px;
$sprite-log-out-2x-image: '../images/sprite@2x.png';
$sprite-log-out-2x: (56px, 0px, -56px, 0px, 38px, 44px, 94px, 46px, '../images/sprite@2x.png', 'sprite-log-out@2x', );
$sprite-parameters-2x-name: 'sprite-parameters@2x';
$sprite-parameters-2x-x: 0px;
$sprite-parameters-2x-y: 0px;
$sprite-parameters-2x-offset-x: 0px;
$sprite-parameters-2x-offset-y: 0px;
$sprite-parameters-2x-width: 46px;
$sprite-parameters-2x-height: 46px;
$sprite-parameters-2x-total-width: 94px;
$sprite-parameters-2x-total-height: 46px;
$sprite-parameters-2x-image: '../images/sprite@2x.png';
$sprite-parameters-2x: (0px, 0px, 0px, 0px, 46px, 46px, 94px, 46px, '../images/sprite@2x.png', 'sprite-parameters@2x', );
$spritesheet-width: 47px;
$spritesheet-height: 23px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($sprite-log-out, $sprite-parameters, );
$spritesheet: (47px, 23px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 94px;
$retina-spritesheet-height: 46px;
$retina-spritesheet-image: '../images/sprite@2x.png';
$retina-spritesheet-sprites: ($sprite-log-out-2x, $sprite-parameters-2x, );
$retina-spritesheet: (94px, 46px, '../images/sprite@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sprite-log-out-group-name: 'sprite-log-out';
$sprite-log-out-group: ('sprite-log-out', $sprite-log-out, $sprite-log-out-2x, );
$sprite-parameters-group-name: 'sprite-parameters';
$sprite-parameters-group: ('sprite-parameters', $sprite-parameters, $sprite-parameters-2x, );
$retina-groups: ($sprite-log-out-group, $sprite-parameters-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
