#publications{

	padding-top: 100px;




	.tabs{
		top: 100px;
	    position: fixed;
		z-index: 9;
	    width: calc( 100% - 228px);
		height: 82px;
		border-bottom: 1px solid #e5e5e5;
		background-color: #FFF;
		.tab{
			width: 50%;
			height: 100%;
			display: inline-block;
			text-align: center;
			font-size: 18px;
			text-transform : uppercase;
			line-height: 82px;
			font-weight: bold;
			cursor: pointer;
			box-sizing: border-box;
			&.active{
				border-bottom : 3px solid $clubColor;
				color: $clubColor;
			}
		}
	}





	#alaune{
		.social-network {
			margin-top: 20px;
			>div, >p{
				display: inline-block;
				vertical-align: bottom;
				margin-right: 10px;
			}
			>p{
				text-transform : uppercase;
				font-weight: bold;
			}
			.count{
				float: right;
				color: $red;
			}
		}


		ul.list-match{
			li{
				position: relative;
				height: 90px;
				padding: 0 50px 0 50px;
				&:nth-child(odd){
					background-color: #f2f2f2;
				}
			}
			.name {
				padding-left: 10px;
				font-size: 16px;
				display: inline-block;
				height: 100%;
				line-height: 93px;
				vertical-align: middle;
				text-transform : uppercase;
			}
			.last-publication {
				position: absolute;
				left: 25%;
				right: 25%;
				top: 0;
				bottom: 0;
				p{
					line-height: 90px;
					text-align: center;
					font-size: 16px;
					color: #cccccc;
					text-transform: uppercase;
					font-weight: bold;
					span{
						color: $clubColor;
						padding-left: 1px;
					}
				}
			}
			.logo {
				display: inline-block;
				vertical-align: middle;
			}

			.actions{
				>div{
					display: inline-block;
					margin-left: 10px;
				}
				a > div{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				position: absolute;
				right: 54px;
				top: 50%;
				transform: translateY(-50%);
			}
			.edit > a {
			    display: block;
			    width: 100%;
			    height: 100%;
			}

		}
		.instagram{
			color: $instagram;
		}
		.twitter{
			color: $twitter;
		}
		.facebook{
			color: $facebook;
		}


		.add-new{
			.middle{
				.content{
					height: 560px;
				}
			}
		}
	}





	#coin-des-supporter{
		position: relative;
		.subtitle{
			padding: 60px 0;
			h2{
				float: left;
			}
			p{
				float: right;
				color: $red;
			}
		}
		.item{
			overflow: hidden;
			margin-bottom: 30px;
			width: 300px;
			&.small-item{
				.img-item {
					height: 190px;
				}
			}
			&.high-item{
				.img-item {
					height: 520px;
				}
			}
			// &.large-item{
			// 	width: 630px;
			// 	.img-item {
			// 		height: 190px;
			// 	}
			// }
			.img-item {
				width: 100%;
				background-position: center;
				background-size: cover;
			}
			.command{
				height: 110px;
				position: relative;
				p{
					line-height: 110px;				
				}
			}
			.actions{
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				>div{
					display: inline-block;
					> div{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}
}