<div id="matchs">
	<div class="container">
		<h1 class="title">Calendrier de la saison</h1>
		<span class="date">2016/2017</span>
		<ul class="months">
			<li class="selected">OCTOBRE</li><!--
			--><li>NOVEMBRE</li><!--
			--><li>DÉCEMBRE</li><!--
			--><li>JANVIER</li><!--
			--><li>FÉVRIER</li><!--
			--><li>MARS</li><!--
			--><li>AVRIL</li><!--
			--><li>MAI</li><!--
			--><li>JUIN</li>
		</ul>
		<div class="sub-container">
			<h2 class="subtitle">2 rencontres programmées</h2>
			<div class="btn btn-add">ajouter</div>
		</div>
	</div>
	<ul class="list-match">
		<li>
			<span class="info">19 Décembre 2016</span>
			<div class="versus">
				<div class="domicile">
					<div class="logo">
						<div class="sprite-log-out"></div>
					</div><!--
					--><span class="name">Nanterre</span>
				</div><!--
				--><div class="deplacement">
					<span class="name">Gravelines-du-pouet</span><!--
					--><div class="logo">
						<div class="sprite-log-out"></div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="small-btn edit green">
					<a href="/matchs/1">
						<div class="sprite-log-out"></div>
					</a>
				</div>
				<div class="small-btn delete red">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
		<li>
			<span class="info">19 Décembre 2016</span>
			<div class="versus">
				<div class="domicile">
					<div class="logo">
						<div class="sprite-log-out"></div>
					</div><!--
					--><span class="name">Nanterre</span>
				</div><!--
				--><div class="deplacement">
					<span class="name">Gravelines-du-pouet</span><!--
					--><div class="logo">
						<div class="sprite-log-out"></div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="small-btn edit green">
					<a href="/matchs/1">
						<div class="sprite-log-out"></div>
					</a>
				</div>
				<div class="small-btn delete red">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
		<li>
			<span class="info">19 Décembre 2016</span>
			<div class="versus">
				<div class="domicile">
					<div class="logo">
						<div class="sprite-log-out"></div>
					</div><!--
					--><span class="name">Nanterre</span>
				</div><!--
				--><div class="deplacement">
					<span class="name">Gravelines-du-pouet</span><!--
					--><div class="logo">
						<div class="sprite-log-out"></div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="small-btn edit green">
					<a href="/matchs/1">
						<div class="sprite-log-out"></div>
					</a>
				</div>
				<div class="small-btn delete red">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
		<li>
			<span class="info">19 Décembre 2016</span>
			<div class="versus">
				<div class="domicile">
					<div class="logo">
						<div class="sprite-log-out"></div>
					</div><!--
					--><span class="name">Nanterre</span>
				</div><!--
				--><div class="deplacement">
					<span class="name">Gravelines-du-pouet</span><!--
					--><div class="logo">
						<div class="sprite-log-out"></div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="small-btn edit green">
					<a href="/matchs/1">
						<div class="sprite-log-out"></div>
					</a>
				</div>
				<div class="small-btn delete red">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
		<li>
			<span class="info">19 Décembre 2016</span>
			<div class="versus">
				<div class="domicile">
					<div class="logo">
						<div class="sprite-log-out"></div>
					</div><!--
					--><span class="name">Nanterre</span>
				</div><!--
				--><div class="deplacement">
					<span class="name">Gravelines-du-pouet</span><!--
					--><div class="logo">
						<div class="sprite-log-out"></div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="small-btn edit green">
					<a href="/matchs/1">
						<div class="sprite-log-out"></div>
					</a>
				</div>
				<div class="small-btn delete red">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
		<li>
			<span class="info">19 Décembre 2016</span>
			<div class="versus">
				<div class="domicile">
					<div class="logo">
						<div class="sprite-log-out"></div>
					</div><!--
					--><span class="name">Nanterre</span>
				</div><!--
				--><div class="deplacement">
					<span class="name">Gravelines-du-pouet</span><!--
					--><div class="logo">
						<div class="sprite-log-out"></div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="small-btn edit green">
					<a href="/matchs/1">
						<div class="sprite-log-out"></div>
					</a>
				</div>
				<div class="small-btn delete red">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
		<li>
			<span class="info">19 Décembre 2016</span>
			<div class="versus">
				<div class="domicile">
					<div class="logo">
						<div class="sprite-log-out"></div>
					</div><!--
					--><span class="name">Nanterre</span>
				</div><!--
				--><div class="deplacement">
					<span class="name">Gravelines-du-pouet</span><!--
					--><div class="logo">
						<div class="sprite-log-out"></div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="small-btn edit green">
					<a href="/matchs/1">
						<div class="sprite-log-out"></div>
					</a>
				</div>
				<div class="small-btn delete red">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
	</ul>
</div>