<div id="matchsDetail">
	<div class="padder">
		<h1>RENCONTRE DU 10.05.2016</h1>
		<h2 class="sub-detail">Détails de la rencontre</h2>
		<div class="recap">
			<div class="date">
				<h3>DATE DU MATCH</h3>
				<span>10.05.2016</span>
			</div><!--
			--><div class="time">
				<h3>HEURE DU MATCH</h3>
				<span>21:00</span>
			</div><!--
			--><div class="place">
				<h3>LIEU DU MATCH</h3>
				<span>Salle Maurice-Thorez</span>
			</div><!--
			--><div class="opponent">
				<h3>EQUIPE ADVERSE</h3>
				<div class="sprite-log-out sprite"></div><span>Antibes</span>
			</div>
		</div>
		<h3 class="sub-couv">PHOTO DE COURVERTURE</h3>
		<div class="couv" style="background-image: url('/images/couv-1.png')"></div>
		<h2>Composition de l'équipe</h2>
		<div class="titulaires positions">
			<div class="container">
				<h3>Titulaires</h3>
				<div class="play-ground ratio">
					<div class="player">
						<img src="/images/profil.jpg" alt="profile picture">
						<span class="name">Nom Prénom</span>
						<span class="poste">Poste</span>
					</div>
				</div>
			</div>
		</div><!--
		--><div class="remplacants positions">
			<div class="container">
				<h3>Remplaçants</h3>
				<div class="ratio remp">
					<div class="fixPadding">
						<div class="player">
							<img src="/images/profil.jpg" alt="profile picture">
							<span class="name">Nom Prénom</span>
							<span class="poste">Poste</span>
						</div><!--
						--><div class="player">
							<img src="/images/profil.jpg" alt="profile picture">
							<span class="name">Nom Prénom</span>
							<span class="poste">Poste</span>
						</div><!--
						--><div class="player">
							<img src="/images/profil.jpg" alt="profile picture">
							<span class="name">Nom Prénom</span>
							<span class="poste">Poste</span>
						</div><!--
						--><div class="player">
							<img src="/images/profil.jpg" alt="profile picture">
							<span class="name">Nom Prénom</span>
							<span class="poste">Poste</span>
						</div><!--
						--><div class="player">
							<img src="/images/profil.jpg" alt="profile picture">
							<span class="name">Nom Prénom</span>
							<span class="poste">Poste</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="separator"></div>
	<div class="padder">
		<div class="edit btn">éditer la rencontre</div>
	</div>
</div>