<div class="btn-header">
	<div class="sprite-log-out"></div>
</div>
<div class="btn-header">
	<div class="sprite-parameters"></div>
</div>

<div class="profil">
	<img src="/images/profil.jpg" alt="profile picture">
</div>
<p class="user-name">Antoine M.</p>