<div id="Promotions">
	<div class="padder">
		<h1>Les promotions</h1>
		<div class="add-container">
			<h2 class="subtitle">Paris en cours</h2>
			<div class="btn btn-add add-promo">ajouter une promotion</div>
		</div>
	</div>	
	<ul class="list-match">
		<li>
			<span class="name">15% sur toutes les boissons</span>
			<div class="last-publication">
				<p>date de validité : <span>10.05.2016</span></p>
			</div>
			<div class="actions">
				<div class="small-btn delete green-cercled">
					<a href="">
						<div class="sprite-parameters"></div>
					</a>
				</div>
				<div class="small-btn delete red-cercled">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
		<li>
			<span class="name">10% sur le maillots de l'équipe</span>
			<div class="last-publication">
				<p>date de validité : <span>10.05.2016</span></p>
			</div>
			<div class="actions">
				<div class="small-btn delete green-cercled">
					<a href="">
						<div class="sprite-parameters"></div>
					</a>
				</div>
				<div class="small-btn delete red-cercled">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
		<li>
			<span class="name">15% sur les sandwishs</span>
			<div class="last-publication">
				<p>date de validité : <span>10.05.2016</span></p>
			</div>
			<div class="actions">
				<div class="small-btn delete green-cercled">
					<a href="">
						<div class="sprite-parameters"></div>
					</a>
				</div>
				<div class="small-btn delete red-cercled">
					<a href="">
						<div class="sprite-log-out"></div>
					</a>
				</div>
			</div>
		</li>
	</ul>
	<div id="addNew" class="add-new">
		<div class="middle">
			<div class="top">Ajouter une promotion</div>
			<div class="content">
				<div class="padder">
					<h3>Intitulé de la promotion</h3>
					<input type="text">
					<h3>Validité de la promotion</h3>
					<input type="text">
					<h3>Quantité disponible</h3>
					<input type="number">
					<h3>Prix de la promotion (points)</h3>
					<input type="number">
					<h3>Image de courverture</h3>
					<div class="input-file">
						<input type="file">
					</div>
					<div class="btn add-promo-validate">Ajouter le paris</div>
				</div>
			</div>
		</div>
	</div>
</div>
