<div id="Paris">
	<div class="padder">
		<h1>Paris sportifs</h1>
		<div class="add-container">
			<h2 class="subtitle">Paris en cours</h2>
			<div class="btn btn-add add-account">ajouter un pari</div>
		</div>
	</div>
	<div class="cat-pari">
		<span class="name">Vainqueur du match</span>
		<div class="last-publication">
			<p>se termine dans : <span>120min</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red-cercled">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
			<div class="small-btn delete green-cercled">
				<a href="">
					<div class="sprite-parameters"></div>
				</a>
			</div>
		</div>
	</div>
	<ul class="list-paris">
		<li>
			<div class="title">
				<p>1<sup>er</sup> QUART TEMPS<p>
			</div>
			<div class="content">
				<div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div>
			</div>
		</li>
		<li>
			<div class="title">
				<p>2<sup>eme</sup> QUART TEMPS<p>
			</div>
			<div class="content">
				<div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div>
			</div>
		</li>
		<li>
			<div class="title">
				<p>3<sup>eme</sup> QUART TEMPS<p>
			</div>
			<div class="content">
				<div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Nanterre</div>
					<div class="cote">2.15</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="cat-pari">
		<span class="name">Action de jeux</span>
		<div class="last-publication">
			<p>se termine dans : <span>6min</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red-cercled">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
			<div class="small-btn delete green-cercled">
				<a href="">
					<div class="sprite-parameters"></div>
				</a>
			</div>
		</div>
	</div>
	<ul class="list-paris">
		<li>
			<div class="title">
				<p>1<sup>er</sup> BUT<p>
			</div>
			<div class="content">
				<div class="pari">
					<div class="text">Racine W.</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Racine W.</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Racine W.</div>
					<div class="cote">2.15</div>
				</div><!--
				--><div class="pari">
					<div class="text">Racine W.</div>
					<div class="cote">2.15</div>
				</div>
			</div>
		</li>
	</ul>
</div>