<div id="coin-des-supporter">
	<div class="padder">
		<h1>Le coin des supporters</h1>
		<div class="subtitle">
			<h2>Publication signalées</h2>
			<p>10 publications</p>
		</div>
		<div class="grid-item">
			<div class="small-item item">
				<div class="img-item" style="background-image: url('http://medias.lequipe.fr/img-photo-jpg/nanterre/1500000000467960/25:156,1339:1008-850-550-75/dc94d.jpg');">
				</div>
				<div class="command">
					<p>19 décembre</p>
					<div class="actions">
						<div class="small-btn delete red-cercled">
							<div class="sprite-log-out"></div>
						</div>
						<div class="small-btn edit green-cercled">
							<div class="sprite-log-out"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="high-item item">
				<div class="img-item" style="background-image: url('http://medias.lequipe.fr/img-photo-jpg/smith/1500000000489608/0:278,2048:1311-665-335-70/24daa.jpg');">
				</div>
				<div class="command">
					<p>19 décembre</p>
					<div class="actions">
						<div class="small-btn delete red-cercled">
							<div class="sprite-log-out"></div>
						</div>
						<div class="small-btn edit green-cercled">
							<div class="sprite-log-out"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="small-item item">
				<div class="img-item" style="background-image: url('http://s3.static-footeo.com/uploads/as-montarenetsaintmediers/Medias/article_supporters__mjane4.jpg');">
				</div>
				<div class="command">
					<p>19 décembre</p>
					<div class="actions">
						<div class="small-btn delete red-cercled">
							<div class="sprite-log-out"></div>
						</div>
						<div class="small-btn edit green-cercled">
							<div class="sprite-log-out"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="small-item item">
				<div class="img-item" style="background-image: url('http://s3.static-footeo.com/uploads/as-montarenetsaintmediers/Medias/article_supporters__mjane4.jpg');">
				</div>
				<div class="command">
					<p>19 décembre</p>
					<div class="actions">
						<div class="small-btn delete red-cercled">
							<div class="sprite-log-out"></div>
						</div>
						<div class="small-btn edit green-cercled">
							<div class="sprite-log-out"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="small-item item">
				<div class="img-item" style="background-image: url('http://medias.lequipe.fr/img-photo-jpg/smith/1500000000489608/0:278,2048:1311-665-335-70/24daa.jpg');">
				</div>
				<div class="command">
					<p>19 décembre</p>
					<div class="actions">
						<div class="small-btn delete red-cercled">
							<div class="sprite-log-out"></div>
						</div>
						<div class="small-btn edit green-cercled">
							<div class="sprite-log-out"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="small-item item">
				<div class="img-item" style="background-image: url('http://medias.lequipe.fr/img-photo-jpg/nanterre/1500000000467960/25:156,1339:1008-850-550-75/dc94d.jpg');">
				</div>
				<div class="command">
					<p>19 décembre</p>
					<div class="actions">
						<div class="small-btn delete red-cercled">
							<div class="sprite-log-out"></div>
						</div>
						<div class="small-btn edit green-cercled">
							<div class="sprite-log-out"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="small-item item">
				<div class="img-item" style="background-image: url('http://medias.lequipe.fr/img-photo-jpg/smith/1500000000489608/0:278,2048:1311-665-335-70/24daa.jpg');">
				</div>
				<div class="command">
					<p>19 décembre</p>
					<div class="actions">
						<div class="small-btn delete red-cercled">
							<div class="sprite-log-out"></div>
						</div>
						<div class="small-btn edit green-cercled">
							<div class="sprite-log-out"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>