<div class="padder no-bottom">
	<h1>A la une</h1>
	<div class="add-container">
		<h2 class="subtitle">Comptes à afficher</h2>
		<div class="btn btn-add add-account">ajouter</div>
	</div>
</div>
<div class="padder social-network no-top">
	<div class="logo">
		<div class="sprite-parameters"></div>
	</div>
	<p class="facebook">Facebook</p>
	<p class="count">3 comptes</p>
</div>
<ul class="list-match">
	<li>
		<div class="logo">
			<div class="sprite-log-out"></div>
		</div>
		<span class="name">Nanterre 82 basket</span>
		<div class="last-publication">
			<p>dernière publication : <span>10.05.2016</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
		</div>
	</li>
	<li>
		<div class="logo">
			<div class="sprite-log-out"></div>
		</div>
		<span class="name">Nanterre 82 basket</span>
		<div class="last-publication">
			<p>dernière publication : <span>10.05.2016</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
		</div>
	</li>
	<li>
		<div class="logo">
			<div class="sprite-log-out"></div>
		</div>
		<span class="name">Nanterre 82 basket</span>
		<div class="last-publication">
			<p>dernière publication : <span>10.05.2016</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
		</div>
	</li>
</ul>
<div class="padder social-network">
	<div class="logo">
		<div class="sprite-parameters"></div>
	</div>
	<p class="instagram">Instagram</p>
	<p class="count">2 comptes</p>
</div>
<ul class="list-match">
	<li>
		<div class="logo">
			<div class="sprite-log-out"></div>
		</div>
		<span class="name">Nanterre 82 basket</span>
		<div class="last-publication">
			<p>dernière publication : <span>10.05.2016</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
		</div>
	</li>
	<li>
		<div class="logo">
			<div class="sprite-log-out"></div>
		</div>
		<span class="name">Nanterre 82 basket</span>
		<div class="last-publication">
			<p>dernière publication : <span>10.05.2016</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
		</div>
	</li>
</ul>
<div class="padder social-network">
	<div class="logo">
		<div class="sprite-parameters"></div>
	</div>
	<p class="twitter">Twitter</p>
	<p class="count">3 comptes</p>
</div>
<ul class="list-match">
	<li>
		<div class="logo">
			<div class="sprite-log-out"></div>
		</div>
		<span class="name">Nanterre 82 basket</span>
		<div class="last-publication">
			<p>dernière publication : <span>10.05.2016</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
		</div>
	</li>
	<li>
		<div class="logo">
			<div class="sprite-log-out"></div>
		</div>
		<span class="name">Nanterre 82 basket</span>
		<div class="last-publication">
			<p>dernière publication : <span>10.05.2016</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
		</div>
	</li>
	<li>
		<div class="logo">
			<div class="sprite-log-out"></div>
		</div>
		<span class="name">Nanterre 82 basket</span>
		<div class="last-publication">
			<p>dernière publication : <span>10.05.2016</span></p>
		</div>
		<div class="actions">
			<div class="small-btn delete red">
				<a href="">
					<div class="sprite-log-out"></div>
				</a>
			</div>
		</div>
	</li>
</ul>
<div id="addNew" class="add-new">
	<div class="middle">
		<div class="top">Ajouter un compte</div>
		<div class="content">
			<div class="padder">
				<h3>Réseaul social</h3>
				<select name="social" id="social">
					<option value="Facebook">Facebook</option> 
					<option value="Twitter">Twitter</option>
					<option value="Instagram">Instagram</option>
				</select>
				<h3>Identifiant du compte</h3>
				<input type="text">
				<div class="btn add-account-validate">Ajouter un compte</div>
			</div>
		</div>
	</div>
</div>